.landingPageItems {
    width: 25%
}
.serviceItemWrapper {
    display: flex;
    justify-content: space-around;
    padding-left: 250px;
    padding-right: 250px;
    background-color: whitesmoke;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
.serviceItem {
    padding: 25px;
    width: 300px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 1px solid gray;
    background-color: whitesmoke;
}
.serviceItem img {
    display: block;
    width: 100%;
    margin: auto;    
}
.serviceItem h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.serviceItem h2 {
    color: #484f92;
    margin-top: 40px;
    margin-bottom: 5px;
}
.serviceItem p {
    text-align: center;
    margin: 0;
    padding: 0;
}
.serviceItem:hover {
    background-color: rgb(238, 238, 238);
}


