.formContainer {
    width: 550px;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}
.form {
    margin-top: 50px;
}
.text {
    width: 525px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}