@import url('https://use.typekit.net/rkr4zrv.css');

html,body{
  padding: 0px;
  margin: 0px
}

html,body,h1,h2,h3,h4,h5,h6,section,article,p,ul,li,span,div,nav,header,footer {
  font-family: myriad-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.brandFontCondensed {
  font-family: myriad-pro-condensed, sans-serif; 
  font-weight: 400; 
  font-style: normal;
}

.brandFontCondensedItalic{
  font-family: myriad-pro-condensed,sans-serif;
  font-weight: 400;
  font-style: italic;
}

.brandFontItalic{
  font-family: myriad-pro,sans-serif;
  font-weight: 400;
  font-style: italic;
}

.brandFontBold {
  font-family: myriad-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.brandFontBoldCondensed{
  font-family: myriad-pro-condensed,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.brandFontBoldItalic {
  font-family: myriad-pro,sans-serif;
  font-weight: 700;
  font-style: italic;
}