
.collapse {
    display: flex;
    justify-content: end;
}
.nav-link-phone {
    height: 5px;
}
.navbar {
    background-color: rgb(2, 77, 144);
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.consultBtn {
    padding: 0;
    background-color: rgb(2, 77, 144);
    font-weight: 300;
    border: 0;
    color: white;
    font-size: 15px;
    padding-right: 20px;
}
.consultBtn:hover {
    cursor: pointer;
    color: rgb(188, 188, 188);
    background-color: rgb(2, 77, 144);
}
#call {
    color: white;
}
#call:hover {
    color: rgb(182, 182, 182);
}
