.logo {
    margin: 0;
    padding: 200px;
    height: 40px;  
    padding-top: 5px;
}
.collapse {
    display: flex;
    justify-content: end;
}
.nav-link {
    margin-left: 6px;
    margin-right: 6px;
    color: rgb(2, 77, 144);
}
.navbar {
    background-color: rgb(2, 77, 144);
    width: 100%;
    height: 50px;
}
.consultBtn {
    padding: 9px;
    background-color: rgb(2, 77, 144);
    font-weight: 600;
    border: 0;
    color: white;
    font-size: 18px;
    padding-bottom: 7px;
}
.consultBtn:hover {
    cursor: pointer;
    background-color: rgb(182, 182, 182);
}
#call {
    color: white;
}
#call:hover {
    color: rgb(182, 182, 182);
}
